//
// Override global variables
//

// TODO: Change colors

// Theme colors
$primary:       									  #036AB7;
$primary-hover:    									#0264af;
$primary-light:    									#FFE2E5;
$primary-inverse:  									#FFFFFF;

// Border Radiues
$border-radius:            						    .85rem;
